#sidebar {
    background-color: black;
    color: white;
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    z-index: 2;
}

#sidebar .link-text {
    visibility: hidden;
}

#sidebar:hover .link-text {
    visibility: visible;
}

#sidebar:hover {
    width: 200px;
}

#sidebar a {
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

#sidebar-nav {
    text-align: left;
    font-size: 30px;
    margin-top: 75px;
}